// AppBuild.xcconfig
// Common settings for building application.
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

HEADER_SEARCH_PATHS = $(EXTERNLIB_INCLUDES) $(OPTIONAL_EXTERNLIB_INCLUDES) "$(ENGINE_PATH)" $(inherited)
GCC_PREPROCESSOR_DEFINITIONS = $(CONFIG_DEFINES) $(RAD_DEFINES)
OTHER_LDFLAGS = $(CONFIG_LINKER_FLAGS)
