// AppDeveloperDebugOSX.xcconfig
// App developer debug OSX build config
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

#include "AppDebugOSX.xcconfig"
#include "EngineDeveloper.xcconfig"

OPTIONAL_EXTERNLIB_INCLUDES = 

#include "AppBuildOSX.xcconfig"
