// AppReleaseiOS.xcconfig
// Sets up the basic settings for building the app for release iOS.
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

#include "Common.xcconfig"
#include "ReleaseiOS.xcconfig"
#include "AppRoot.xcconfig"
#include "ExternPath.xcconfig"
#include "EnginePaths.xcconfig"
#include "ExternLibPaths.xcconfig"
