// EngineDeveloper.xcconfig
// Sets developer build options.
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

RAD_DEFINES = QT_CORE_LIB QT_GUI_LIB QT_THREAD_SUPPORT RAD_OPT_PC RAD_OPT_GL RAD_OPT_TOOLS RAD_OPT_PC_TOOLS BOOST_ALL_NO_LIB BOOST_NO_EXCEPTIONS RAD_OPT_POSIXTHREADS RAD_OPT_POSIXFILES LUA_JIT=201
