// ExternLibReleaseOSX.xcconfig
// Sets up the basic settings for building an extern library for release OSX.
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

#include "Common.xcconfig"
#include "ReleaseOSX.xcconfig"
#include "EngineRoot.xcconfig"
#include "ExternPath.xcconfig"
#include "DisablePCH.xcconfig"

SKIP_INSTALL = YES