// iOS.xcconfig
// Settings common to all iOS projects
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

ARCHS = $(ARCHS_STANDARD_32_BIT)
SDKROOT = iphoneos
VALID_ARCHS = armv7
SUPPORTED_PLATFORMS = iphonesimulator iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 4.3
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)iOS
TARGETED_DEVICE_FAMILY = 1,2
ONLY_ACTIVE_ARCH = NO
