// MainGoldenDebugiOS.xcconfig
// Main golden debug iOS build config
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

#include "EngineDebugiOS.xcconfig"
#include "EngineGolden.xcconfig"

OPTIONAL_EXTERNLIB_INCLUDES =

#include "MainBuild.xcconfig"
