// MainShipReleaseOSX.xcconfig
// Main ship release osx build config
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

#include "EngineReleaseOSX.xcconfig"
#include "EngineShipOSX.xcconfig"

OPTIONAL_EXTERNLIB_INCLUDES =

#include "MainBuild.xcconfig"
