// OSX.xcconfig
// Settings common to all OSX projects
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

ARCHS = $(ARCHS_STANDARD_64_BIT)
SDKROOT = macosx
MACOSX_DEPLOYMENT_TARGET = 10.7
VALID_ARCHS = i386 x86_64
SUPPORTED_PLATFORMS = macosx

CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)OSX
