// RadianceGoldenReleaseOSX.xcconfig
// Radiance golden release OSX build config
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

#include "EngineReleaseOSX.xcconfig"
#include "EngineGolden.xcconfig"

OPTIONAL_EXTERNLIB_INCLUDES =

#include "RadianceBuild.xcconfig"
