// RadianceDeveloperReleaseOSX.xcconfig
// Radiance developer release osx build config
// Copyright (c) 2012 Sunside Inc., All Rights Reserved.
// See Radiance/LICENSE for licensing terms.

#include "EngineReleaseOSX.xcconfig"
#include "EngineDeveloper.xcconfig"

OPTIONAL_EXTERNLIB_INCLUDES = "$(PVRTEXLIB_PATH)"

#include "RadianceBuild.xcconfig"
