# contains files to ignore for this directory and all subdirectories
.DS_Store
xcuserdata
*.pyc
*.obj
*.suo
*.ncb
*.vcproj.*.user
*.vcxproj.user
*.sdf
*~
BuildLog.htm
*.idb
*.res
*.exe
*.manifest
*.lib
*.pdb
*.dep
*.exp
*.dll
*.aps
*.o
*.pbxbtree
*.pbxuser
*.a
*.mode1v3
*.tlog
pbxindex.header
*.pbxsymbols
build-state.dat
build-state~.dat
*.LinkFileList
*.hmap
*.xcent
*.mobileprovision
moc_*.cc
ui_*.h
.sconsign.dblite
Bin/*
Documentation/*
Source/XCode/build/*